    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Detail</th>
                <th>Category Group</th>
                <th>Image</th>
                <th>Price</th>
                <th>Month Subscription</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productsItems">
                <td>{{ product.name }}</td>
                <td>{{ product.detail }}</td>
                <td>{{ product.categoryGroup }}</td>
                <td>{{ product.imageUrl }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.monthSubscription }}</td>
            </tr>
        </tbody>
    </table>