<div class="product-container">
  <div class="product-card" *ngFor="let product of products">
    <div class="product-image-wrapper">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" />
    </div>
    <div class="product-details">
      <h3 class="product-name" title="{{ product.name }}">{{ product.name }}</h3>
      <p class="product-price">฿{{ product.price}}</p>
      <button class="details-button" (click)="goToProductDetail(product)">See Details</button>
    </div>
  </div>
</div>